.logo {
  float: left;
  width: 61px;
  height: 31px;
  margin: 16px 24px 16px 0;
}
.header {
  color: rgba(255, 255, 255, 0.681);
  background: #001529;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 0 30px;
  position: relative;
}
.user-info {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 120px; */
}
.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  margin-top: 20px;
  background: #fff;
  height: 89vh;
}

.pagination {
  /* margin: 10px 0; */
  justify-content: end !important;
}
